<div class='prose mx-auto max-w-none'>
  <h2><%= @user.nickname %> 的問答箱</h2>

  <%= render "questions/form", user: @user, question: @question %>

  <h2>最近已答</h2>

  <% @answers.each do |answer| %>
    <blockquote><%= answer.question.body %></blockquote>
    <div><%= simple_format answer.body %></div>
    <hr />
  <% end %>
</div>
