<div class='prose mx-auto max-w-none'>
  <h2><%= title "#{@user.nickname} 的問答箱" %></h2>

  <%= render "questions/form", user: @user, question: @question %>

  <h2>最近已答</h2>

  <% @answers.each do |answer| %>
    <%= render "answer", answer: answer %>
  <% end %>
</div>
