<div class='prose mx-auto max-w-none'>
  <h1>QBox</h1>
  <p>簡單到不行的匿名問答箱。</p>
  <p>想要建立你自己的匿名問答箱？立刻登入吧！</p>
  <% unless Rails.env.production? %>
    <%= button_to "使用開發者帳號登入", "/auth/developer", data: { turbo: false }, class: "px-3 py-1 border rounded cursor-pointer bg-gray-300 hover:bg-gray-200 transition" %>
  <% end %>

  <%= button_to "使用 Google 帳號登入", "/auth/google", data: { turbo: false }, class: "px-3 py-1 border rounded cursor-pointer bg-blue-600 hover:bg-blue-500 text-white transition" %>
</div>
